[submodule "eurorack-minisystem"]
	path = eurorack-minisystem
	url = git@git-rhino:rhinocerose/eurorack-minisystem
	branch = main
[submodule "eurorack-winterbloom"]
	path = eurorack-winterbloom
	url = git@git-rhino:rhinocerose/eurorack-winterbloom
	branch = main
[submodule "eurorack-4ms"]
	path = eurorack-4ms
	url = git@git-rhino:rhinocerose/eurorack-4ms
	branch = main
[submodule "eurorack-jakplugg"]
	path = eurorack-jakplugg
	url = git@git-rhino:rhinocerose/eurorack-jakplugg
	branch = main
[submodule "synth-mutable"]
	path = synth-mutable
	url = git@git-rhino:rhinocerose/synth-mutable
	branch = main
[submodule "eurorack-rebeltech"]
	path = eurorack-rebeltech
	url = git@git-rhino:rhinocerose/eurorack-rebeltech
	branch = main
[submodule "eurorack-westlicht"]
	path = eurorack-westlicht
	url = git@git-rhino:rhinocerose/eurorack-westlicht
	branch = main
[submodule "synth-monome"]
	path = synth-monome
	url = git@git-rhino:rhinocerose/synth-monome
	branch = main
[submodule "eurorack-afterlater-Eurorack"]
	path = eurorack-afterlater-Eurorack
	url = git@git-rhino:rhinocerose/eurorack-afterlater-Eurorack
	branch = main
[submodule "eurorack-befaco"]
	path = eurorack-befaco
	url = git@git-rhino:rhinocerose/eurorack-befaco
	branch = main
[submodule "eurorack-antumbra"]
	path = eurorack-antumbra
	url = git@git-rhino:rhinocerose/eurorack-antumbra
	branch = main
[submodule "eurorack-musicthing"]
	path = eurorack-musicthing
	url = git@git-rhino:rhinocerose/eurorack-musicthing
	branch = main
[submodule "synth-midibox"]
	path = synth-midibox
	url = git@git-rhino:rhinocerose/synth-midibox
	branch = main
[submodule "synth-schematics"]
	path = synth-schematics
	url = git@git-rhino:rhinocerose/synth-schematics
	branch = main
[submodule "eurorack-hexinverter"]
	path = eurorack-hexinverter
	url = git@git-rhino:rhinocerose/eurorack-hexinverter
	branch = main
[submodule "eurorack-o_c-all"]
	path = eurorack-o_c-all
	url = git@git-rhino:rhinocerose/eurorack-o_c-all
	branch = main
[submodule "eurorack-tinrs-Eurorack-Modules"]
	path = eurorack-tinrs-Eurorack-Modules
	url = git@git-rhino:rhinocerose/eurorack-tinrs-Eurorack-Modules
	branch = main
[submodule "eurorack-erica"]
	path = eurorack-erica
	url = git@git-rhino:rhinocerose/eurorack-erica
	branch = main
[submodule "eurorack-Miasma_1.03_Revised"]
	path = eurorack-Miasma_1.03_Revised
	url = git@git-rhino:rhinocerose/eurorack-Miasma_1.03_Revised
	branch = main
[submodule "synth-plinky"]
	path = synth-plinky
	url = git@git-rhino:rhinocerose/synth-plinky
	branch = main
[submodule "eurorack-grayscale"]
	path = eurorack-grayscale
	url = git@git-rhino:rhinocerose/eurorack-grayscale
	branch = main
[submodule "synth-drums"]
	path = synth-drums
	url = git@git-rhino:rhinocerose/synth-drums
	branch = main
